Tarea02/Tarea02/Actividad2/xml-resources/jaxb/ticketEntrada/ticketEntrada.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ticket">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lineas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="linea" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="concepto" type="xs:string" />
                    <xs:element name="unidades" type="xs:string" />
                    <xs:element name="precio_unitario" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>